<!DOCTYPE html>
<html>
	<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
   	<meta charset="UTF-8">
		<title>Group Project!</title>
		<link href="css/stylesheet.css" rel="stylesheet">
	</head>
	
	<body>

	<header>
		<h1>Bookworm Storybook Bookstore!</h1>
		<div class="container_searchbar">
			Search: <input type="text" id="search" placeholder="Please enter in search here">
			<a href="/search" class="btn btn-info" role="button">Search</a>
			<a href="/register" class="btn btn-info" role="button">Register</a>
			<a href="/login" class="btn btn-info" role="button">Login</a>
		</div>
		<div  class="button-strip">
			<a href="/" class="btn btn-info" role="button">Home</a> 
			<a href="/authors" class="btn btn-info" role="button">Authors</a> 
			<a href="/books" class="btn btn-info" role="button">Books</a> 
			<a href="/genres" class="btn btn-info" role="button">Genres</a> 
		</div>
			
	</header>
	
	<div class="container">
   	<h1>Welcome to the Books Page.</h1>
		<h2>The Davinchi Code</h2>
		<img src="src/DaVinciCode.jpg" alt="Davinchi code" style="width:304px;height:228px;">
		<p>The Da Vinci Code is a 2003 mystery-detective novel by Dan Brown. It follows symbologist Robert Langdon and cryptologist Sophie Neveu after a murder in the Louvre Museum in Paris, when they become involved in a battle between the Priory of Sion and Opus Dei over the possibility of Jesus Christ having been a companion to Mary Magdalene. The title of the novel refers, among other things, to the finding of the first murder victim in the Grand Gallery of the Louvre, naked and posed similar to Leonardo da Vinci's famous drawing, the Vitruvian Man, with a cryptic message written beside his body and a pentacle drawn on his chest in his own blood.

			The novel explores an alternative religious history, whose central plot point is that the Merovingian kings of France were descended from the bloodline of Jesus Christ and Mary Magdalene, ideas derived from Clive Prince's The Templar Revelation (1997) and books by Margaret Starbird. The book also refers to The Holy Blood and the Holy Grail (1982) though Dan Brown has stated that it was not used as research material.

			The Da Vinci Code provoked a popular interest in speculation concerning the Holy Grail legend and Mary Magdalene's role in the history of Christianity. The book has, however, been extensively denounced by many Christian denominations as an attack on the Roman Catholic Church, and consistently criticized for its historical and scientific inaccuracies. The novel nonetheless became a worldwide bestseller[1] that sold 80 million copies as of 2009[2] and has been translated into 44 languages. Combining the detective, thriller and conspiracy fiction genres, it is Brown's second novel to include the character Robert Langdon: the first was his 2000 novel Angels & Demons. In November 2004, Random House published a Special Illustrated Edition with 160 illustrations. In 2006, a film adaptation was released by Columbia Pictures.</p>

	</div>

	<footer>
	</footer>
	
	</body>
</html> 
