<!DOCTYPE html>
<html>
	<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
   	<meta charset="UTF-8">
		<title>Group Project!</title>
		<link href="css/stylesheet.css" rel="stylesheet">
		<link href="css/jquery-ui.min.css" rel="stylesheet">
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
	</head>
	
	<body>

	<header>
		<h1>Bookworm Storybook Bookstore!</h1>
		<div class="container_searchbar">
			Search: <input type="text" id="search" placeholder="Please enter in search here">
			<button class="button" type="button" onclick="location.href='authors.html';">Search</button>
		</div>
		<div  class="button-strip">
			<a href="/authors" class="btn btn-info" role="button">Authors</a> 
		
			<button class="button" type="button" onclick="location.href='authors.html';">Authors</button>
			<button class="button" type="button" onclick="location.href='authors.html';">Authors</button>
			<button class="button" type="button" onclick="location.href='authors.html';">Authors</button>
		</div>
			
	</header>
	
	<div class="container">
   	<p>This is a paragraph.</p>
			
		<img src="src/DaVinciCode.jpg" alt="Davinchi code" style="width:304px;height:228px;">	
	</div>

	<footer>
	</footer>
	
	</body>
</html> 
